* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

/* Full screen responsive background */
.bg {
  width: 100vw;
  height: 100vh;

  background-image: url("poster.png");
  background-repeat: no-repeat;
  background-position: center;

  /* Keeps full image visible (no crop) */
  background-size: contain;

  /* Extra protection */
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
